:root {
  --c-background: #f0fdf4; 
  --c-surface: #ffffff;
  --c-outline-h: rgb(26 46 5);

  --c-secondary: rgb(63 98 18);

  --radius: .4rem;
  
  --shadow-distance: 4px;
  --c-shadow-hard: rgb(0 0 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--c-background);
  background-image: radial-gradient(#86efac 2px, transparent 2px);
  background-size: 24px 24px;
}

body {
  position: relative;
  min-height: 100vh;
}

.text-alter {
  font-family: var(--font-cursive);
}